RAG/RAG.json
{
  "name": "RAG",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "__GOOGLE_DRIVE_FOLDER_ID__",
          "mode": "list",
          "cachedResultName": "Biblioteca RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/__REDACTED__"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [100, 140],
      "id": "node1",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__REDACTED__",
          "name": "__Google Drive account__"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [320, 140],
      "id": "node2",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__REDACTED__",
          "name": "__Google Drive account__"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "__PINECONE_INDEX__",
          "mode": "list",
          "cachedResultName": "rag-n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [540, 140],
      "id": "node3",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "__REDACTED__",
          "name": "__PineconeApi account__"
        }
      }
    },
    {
      "parameters": { "options": {} },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [480, 360],
      "id": "node4",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "__REDACTED__",
          "name": "__OpenAi account__"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [720, 360],
      "id": "node5",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [800, 580],
      "id": "node6",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Eres un asistente personal. Tu funcion es identificar que es lo que quiere buscar el usuario referente a cosméticos en Pinecone Vector Store. Responde de forma concreta, sólo referente a la información que consultas en pinecone. En tu respuesta, Siempre coloca como referencia la fuente de datos del documento."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [1360, 60],
      "id": "node7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1300, 280],
      "id": "node8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "__REDACTED__",
          "name": "__OpenAi account__"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "consulta mi biblioteca especializada",
        "pineconeIndex": {
          "__rl": true,
          "value": "__PINECONE_INDEX__",
          "mode": "list",
          "cachedResultName": "rag-n8n"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [1600, 280],
      "id": "node9",
      "name": "Pinecone Vector Store (query)",
      "credentials": {
        "pineconeApi": {
          "id": "__REDACTED__",
          "name": "__PineconeApi account__"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1460, 280],
      "id": "node10",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [[{ "node": "Download file", "type": "main", "index": 0 }]]
    },
    "Download file": {
      "main": [
        [{ "node": "Pinecone Vector Store", "type": "main", "index": 0 }]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [{ "node": "Pinecone Vector Store", "type": "ai_document", "index": 0 }]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Pinecone Vector Store (query)": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
